* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.btn{
  padding: 10px;
  background-color:white;
}
.btns{
  font-size: 20px;
  padding: 5px 10px;
  background-color: rgb(216, 225, 233);
  margin: 3px;
  color: white;
}
.box {
  max-width: 240px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
}
.text{
  font-size: 18px;
}